body {background-color: rgb(230;230;230);
color: rgb(30;30;30);
}
body {font-family: 'Lora', serif ;
font-size: 17px;
background: rgb(230,230,230);
color: rgb(50,50,50);}
h1,h2,h3 {font-family: 'Roboto', sans-serif;
color: #0f4c81;
}

h1 {font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 32px;
} 
h2 {font-weight: lighter ;
	font-weight: 500;
    font-size: 18px;}
a { text-decoration: none;
color: #315bc7;
font-weight: bold;
font-family: 'Roboto', sans-serif;}

a:hover {color: #ff5722;
text-decoration: underline;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;} 

.container{
	width: 700px;
	margin: 40px auto;
	text-align: center;
 }

div{background: white;
margin: 10px;} 

@media (max-width: 500px) {
	.container{width: 400px;
	   }
	}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
} 

.img-circle {
	border-radius: 50%
}
.btn-blue{
	 background-color: #beebe9;
	 color: rgba(0,0,0,0.6);
	 padding : 15px 20px;
	 border-radius: 4px}
.btn-blue:hover{
	 background-color: black;
	 color: white}

.liste-inline{list-style: none;
padding-left: 0px } 
.list-inline li {display: inline;
	padding: 10px;

}

.list-inline i {
	font-size: 50px;
	color: #0073B1;
}
.list-inline i:hover { 
	color: black;
}

#introduction p { margin-bottom: 40px;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .container {
    width: 400px;
  }
}